<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="work-block">
<section class="main-body addd">
	<div class="container">
		<div class="row">

				<div class="col-12">
						<div class="main-name">
							<h1 class="page-name">
								<img class="heading-image" src="assets/images/nett.png">
								<i>Advertisment</i>
							</h1>
		
							<!-- <div class="line-notification">
								<h1><img src="assets/images/notification2.png">Trade your UZ Coin comissions for BTC in the UZ Exchange!</h1>
							</div> -->
		
							<div class="line-heading">
								<h3>UZYTH Social</h3>
							</div>
						</div>
					</div>
			<div class="col-sm-12 right-part">


				<div class="col-md-6">
					<div class="addd-left">
						<h1>Your ad preferences</h1>
						<p>Learn what influences the ads you see and take control of your ads experience.</p>
						<!-- <a href="#">Learn about UZYTH ADS WORK</a> -->
					</div>
				</div>
				<div class="col-md-6"> 
					<div class="addd-right your_preferences">
						<img class="img-fluid" src="assets/images/add.png">
					</div>
				</div>
				<div class="col-md-12">
					<div class="bs-example cus-bs">
						<div class="accordion" id="accordionExample">

							<div class="card">
								<div class="card-header" id="headingOne">
									<h2 class="mb-0">
										<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><span class="pink pink1"><i class="fas fa-heart"></i></span>Your interests</button>
									</h2>    
								</div>
								<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<div class="intrust">
											<h2>Uzyth Targeting Options</h2>
											<p>Targeting is one of the most important benefits of Uzyth advertising since it gives you the ability to show your ads to particular types of people who will engage with your content the best and put the most money in your pocket.</p>
											<p>Target audiences are also highly customizable, making it easy to target people based on interests/likes, demographics, locations, website, and app engagement, Uzyth groups and so much more.</p>
											<p>
												<img class="img-fluid in-img" src="assets/images/hello.png">
											</p>

											<p>To ensure the most success with Uzyth ads, you want to make sure you are targeting the right people, acknowledging and connecting with them and giving them a realistic call-to-action.</p>

											<ul>
												<li><b>Location:</b> Reach people based on country, state or province, current city or zip code</li>
												<li><b>Age and Gender:</b> Narrow your audience based on age and gender</li>
												<li><b>Language:</b> Target your ads to specific languages</li>
												<li><b>Behaviors:</b> Reach people based on purchase behaviors or intents, device usage and more</li>
												<li><b>Connections:</b> Reach people who are connected to your business’s Uzyth Page, app, event or their friends</li>
												<li><b>Custom Audience:</b> Create your ideal audience using pixels, email addresses, phone numbers</li>
												<li><b>Lookalike Audience:</b> Reach people who are similar to your audience(s)</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingThree">
									<h2 class="mb-0">
										<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><span class="pink pink3"><i class="fas fa-portrait"></i></span>Your information</button>                     
									</h2>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="your-info">
										<div class="social-form">
											<div *ngIf="error != '' && error != undefined ">

												<div class="alert alert-danger alert-dismissible">
													<button type="button" class="close" data-dismiss="alert">&times;</button>
													<strong>Warning!</strong> {{error}}
												</div>
											</div>


                                        <div *ngIf="sucessMsg != '' && sucessMsg != undefined ">

												<div class="alert alert-success alert-dismissible">
													<button type="button" class="close" data-dismiss="alert">&times;</button>
													<strong>Success!</strong> {{sucessMsg}}
												</div>
											</div>





											<form name="personalInfo" #f="ngForm" (ngSubmit)="saveInformation()" >
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email">Name:</label>
														</div>
														<div class="col-4 rgt-part">
															<input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" placeholder="Enter your name">
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="phone_number">Phone Number:</label>
														</div>
														<div class="col-4 rgt-part">
															<input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="model.phone" #phone="ngModel" placeholder="Enter your number">
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="education">Education:</label>
														</div>
														<div class="col-4 rgt-part">
															<input type="text" class="form-control" name="professional_skills" id="professional_skills"
															placeholder="Enter your professional skills" [(ngModel)]="model.professional_skills" #professional_skills="ngModel">
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="workplace">Workplace:</label>
														</div>
														<div class="col-4 rgt-part">
															<input type="text" class="form-control" name="workplace" id="workplace" [(ngModel)]="model.workplace" #workplace="ngModel" 
															placeholder="Enter your workplace">
														</div>
													</div>
												</div>

			<!-- <div class="form-group">
			<div class="row">
			<div class="col-2 lft-part">
			<label for="work_experience">Work Experience</label>
			</div>
			<div class="col-4 rgt-part">
			<select formControlName="work_experience" name="work_experience">
			<option value="0">0 Year</option>
			<option value="1">1 Year</option>
			<option value="2">2 Year</option>
			<option value="3">3 Year</option>
			<option value="4">4 Year</option>
			<option value="5">5 Year</option>
			<option value="6">6 Year</option>
			</select>
			</div>
			</div>
			</div> -->	

			<!-- <div class="form-group">
			<div class="row">
			<div class="col-2 lft-part">
			<label for="place_you_live">Place you lived:</label>
			</div>
			<div class="col-4 rgt-part">
			<textarea formControlName="places_you_lived" name="places_you_lived" class="form-control" rows="2"></textarea>
			</div>
			</div>
			</div>
			-->

			<!-- <div class="form-group">
			<div class="row">
			<div class="col-2 lft-part">
			<label for="detail_about_you">Details about you:</label>
			</div>
			<div class="col-4 rgt-part">
			<div class="state-location">
			<textarea formControlName="detail_about_you" name="detail_about_you" class="form-control" rows="3"></textarea>
			</div>
			</div>
			</div>
			</div> -->

<div class="form-group">
<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-4 rgt-part">
			<button  class="btn-large btn-grey"> SAVE</button>
		</div>
	</div>
</div>	
</form>
    </div>
  </div>
 </div>
</div>

<div class="card">
	<div class="card-header" id="headingFour">
		<h2 class="mb-0">
			<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"><span class="pink pink4"><i class="fas fa-cog"></i></span>Ad settings</button>                     
		</h2>
	</div>
	<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
		<div class="card-body">
			<div class="cus-tabs custom-cl">  
			<!-- 	<ul class="nav nav-tabs mb-4">
					<li class="active show">
						<a class="show active" data-toggle="tab" href="#general-setting">General Setting</a>
					</li>
					<li>
						<a data-toggle="tab" href="#ad-setting" class="show">Ad Setting</a></li>
						<li>
							<a data-toggle="tab" href="#account-setting" class="show">Account Setting</a>
						</li>
					</ul> -->
					<div class="tab-content">
						<div id="general-setting" class="tab-pane fade show active"> 	
							<div class="social-form">

								 <div *ngIf="genreralSave != '' && genreralSave != undefined ">

												<div class="alert alert-success alert-dismissible">
													<button type="button" class="close" data-dismiss="alert">&times;</button>
													<strong>Success!</strong> {{genreralSave}}
												</div>
											</div>
								<form [formGroup]="generalSetting">
								<!-- 	<div class="form-group">
								<div class="row">
								<div class="col-2 lft-part">
								<label for="email">Custom audience:</label>
								</div>
								<div class="col-4 rgt-part">
								<input type="email" class="form-control" id="custom audience" formControlName="custom_audience" name="custom_audience" placeholder="Add/created custom audience">
								</div>
								</div>
								</div> -->

		<div class="form-group">
			<div class="row">
				<div class="col-2 lft-part">
					<label for="email">Location</label>
				</div>
				<div class="col-5 rgt-part">
                   <select class="form-control" id="sel1" formControlName="location" name="location">
						<option value="">select country</option>
						<option *ngFor='let controlList of countries' [value]="controlList.countryId">{{controlList.name}}</option>
					</select>
				</div>
			</div>
		</div>

<!-- <div class="form-group">
<div class="row">
<div class="col-2 lft-part">
<label for="email"></label>
</div>
<div class="col-4 rgt-part">
<div class="state-location">
<textarea class="form-control" rows="5" ></textarea>
</div>
</div>
</div>
</div> -->

	<div class="form-group">
		<div class="row">
			<div class="col-2 lft-part">
				<label for="age1">Age</label>
			</div>
			<div class="col-5 rgt-part form-flex">
			
		<select class="form-control" id="age1" formControlName="age1" name="age1">
			<option value="">Select age</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
		</select>
          <span class="date-interval"> To</span>
		<select class="form-control" id="age2" formControlName="age2" name="age2">
			<option value="">Select age</option>
	        <option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
		</select>		
		
	</div>
	</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-2 lft-part">
				<label for="gender">Gender</label>
			</div>
		<div class="col-5 rgt-part">
		
<select class="form-control" id="gender" formControlName="gender" name="gender">
	<option value="">Please Select</option>
	<option value="male">Male</option>
	<option value="female">Female</option>
</select>														
</div>
</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="email">Language:</label>
		</div>
		<div class="col-5 rgt-part">
			<input type="text" formControlName="language" name="language" class="form-control" placeholder="Enter a language..">
		</div>
	</div>
</div>

<div class="form-group">
				<div class="row">
					<div class="col-2 lft-part">
						<label for="adDelivery">Ad delivery</label>
					</div>
					<div class="col-4 rgt-part">
			

		<select class="form-control" (change)="onAdChange($event.target.value)" id="adDelivery" name="ad_delivery" formControlName="ad_delivery">
			<option value="">Please Select</option>
           	<option value="click">Click</option>
			<option value="impression">Impression</option>
		</select>
		<!-- </div> -->
	 </div>
	</div>
</div>

 <div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="email"></label>
		</div>
		<div class="col-9 rgt-part">
			<p>Uzyth aims to spend your entire budget and get the most conversion using lowest cost bid strategy.</p>
		</div>
	</div>
</div>

 
 <div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="budget">Budget and Scheduled</label>
		</div>
		<div class="col-4 rgt-part">
   <select class="form-control" id="budgetandscheduled" name="buget_schedule" formControlName="buget_schedule">
	<option value="">Please Select</option>
	<option value="daily_budget">Daily Budget</option>
 </select>
</div>
</div>
</div>

  <div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="Actual Amount"></label>
		</div>
		<div class="col-4 rgt-part">
			<input type="text" class="form-control mt-2" name="actual_amount" disabled formControlName="actual_amount" id="actualAmount" value="5"  >
			<p>Actual amount spend may be vary on the selection of Ad delivery.</p>
		</div>
	</div>
</div>
  
  <div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="conversionWindow">Conversion window</label>
		</div>
		<div class="col-4 rgt-part">
	
		<select class="form-control" id="converstaion_window" name="conversion_window" formControlName="conversion_window">
			<option value="">Please Select</option> 
			<option [selected]="true" value="7_day_click_or_1_day_view">7 day click or 1 day view</option>
			
	  </select> 
</div>
</div>
</div>

 
 <div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="charged">When you get charged:</label>
		</div>
		<div class="col-4 rgt-part">
			<p style="margin: 0;">Impression</p>
		</div>
	</div>
</div>

 <div class="form-group">
			<div class="row">
				<div class="col-2 lft-part">
					<label for="country">Account Country</label>
				</div>
				<div class="col-4 rgt-part">
				
				<select id="country11" name="account_country" formControlName="account_country">
					
					<option value="">Please Select</option>
					<option *ngFor='let controlList of countries' [value]="controlList.countryId">{{controlList.name}}</option>
				</select>
        </div>
    </div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="currency">Currency</label>
		</div>
		<div class="col-4 rgt-part">
		<select id="currency" name="currency" formControlName="currency">
			<option value="">Please Select</option>
			<option [selected]="true" value="uzyth">Uzyth</option>
		</select>
</div>
</div>
</div>



<div *ngIf="notMatched != ''  && notMatched != undefined" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" (click)="closepopup()">&times;</button>
  <strong>Alert!</strong> {{notMatched}}
</div>
<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="date_from">Start Date</label>
		</div>
		<div class="col-4 rgt-part">
			<ng-datepicker name="from_date" formControlName="from_date"  [options]="options" ></ng-datepicker>
		</div>
	</div>
</div>


<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="date_from"></label>
		</div>
		<div class="col-4 rgt-part">
			<!-- <ng-datepicker name="to_date" formControlName="to_date" [options]="options" ></ng-datepicker> -->
			<!-- <input type="text" name="to_date" formControlName="to_date"  > -->
			<p>End date will be automatically calculated for next 7 days from the start date</p>
		</div>
	</div>
</div>
 
<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="date_from">Image</label>
		</div>
		<div class="col-4 rgt-part">
			<input type="file" #file (change)="fileChange($event)" accept="image/x-png,image/jpeg" >
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="date_from">URL</label>
		</div>
		<div class="col-4 rgt-part">
			<input type="text" formControlName="url" >
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="timeZone">Time Zone</label>
		</div>
		<div class="col-4 rgt-part">
			<select id="currency" name="timezone" formControlName="timezone">
				<option value="">Please Select</option>
				<option value="pacific">Pacific</option>
			</select>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="accountName">Ad Account Name</label>
		</div>
		<div class="col-4 rgt-part">
			<input type="text" class="form-control" id="accountName" placeholder="Account name" name="ad_account_name" formControlName="ad_account_name">
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
		</div>
		<div class="col-4 rgt-part">
			<p>Use your own name or the name of your business you'll advertise.</p>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="accountName">Ad Description</label>
		</div>
		<div class="col-10 rgt-part">
			<input type="text" class="form-control" id="accountDes" placeholder="Ad description" name="account_des" formControlName="account_des">
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-4 rgt-part">
			<button (click)="saveGeneralSetting()" class="btn-large btn-grey"> SAVE</button>
		</div>
	</div>
</div>
</form>
</div>
</div>

<!-- <div id="ad-setting" class="tab-pane fade">
	<div class="social-form">
		<div *ngIf="adSettingSuccess != '' && adSettingSuccess != undefined ">

			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Success!</strong> {{adSettingSuccess}}
			</div>
		</div>
		<form [formGroup]="adSetting">
			<div class="form-group">
				<div class="row">
					<div class="col-2 lft-part">
						<label for="adDelivery">Ad delivery</label>
					</div>
					<div class="col-4 rgt-part">
			

		<select class="form-control"  id="adDelivery" name="ad_delivery" formControlName="ad_delivery">
			<option value="">Please Select</option>
           	<option value="click">Click</option>
			<option value="impression">Impression</option>
		</select>

	 </div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="email"></label>
		</div>
		<div class="col-9 rgt-part">
			<p>Uzyth aims to spend your entire budget and get the most conversion using lowest cost bid strategy.</p>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="budget">Budget and Scheduled</label>
		</div>
		<div class="col-4 rgt-part">
		
   <select class="form-control" id="budgetandscheduled" name="buget_schedule" formControlName="buget_schedule">
	<option value="">Please Select</option>
	<option value="daily_budget">Daily Budget</option>
 </select>
</div>
</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="Actual Amount"></label>
		</div>
		<div class="col-4 rgt-part">
			<input type="text" class="form-control" name="actual_amount" formControlName="actual_amount" id="actualAmount" value="5" >
			<p>Actual amount spend may be vary.</p>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="conversionWindow">Conversion window</label>
		</div>
		<div class="col-4 rgt-part">
		
		<select class="form-control" id="converstaion_window" name="conversion_window" formControlName="conversion_window">
			<option value="">Please Select</option> 
			<option value="7_day_click_or_1_day_view">7 day click or 1 day view</option>
			
	  </select> 
</div>
</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="charged">When you get charged:</label>
		</div>
		<div class="col-4 rgt-part">
			<p style="margin: 0;">Impression</p>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-6 lft-part">
			<button (click)="saveAdSetting()" class="btn-grey"> SAVE</button>
		</div>
	</div>
</div>

</form>
</div>
</div> -->

<!-- <div id="account-setting" class="tab-pane fade">
	<div class="social-form">
        <div *ngIf="accountSettingSuccess != '' && accountSettingSuccess != undefined ">

		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Success!</strong> {{accountSettingSuccess}}
		</div>
	</div>

		<form [formGroup]="accountSetting">
		<div class="form-group">
			<div class="row">
				<div class="col-2 lft-part">
					<label for="country">Account Country</label>
				</div>
				<div class="col-4 rgt-part">
				
				<select id="country11" name="account_country" formControlName="account_country">
					
					<option value="">Please Select</option>
					<option *ngFor='let controlList of countries' [value]="controlList.countryId">{{controlList.name}}</option>
				</select>
        </div>
    </div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="currency">Currency</label>
		</div>
		<div class="col-4 rgt-part">
		<select id="currency" name="currency" formControlName="currency">
			<option value="">Please Select</option>
			<option value="uzyth">Uzyth</option>
		</select>
</div>
</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="timeZone">Time Zone</label>
		</div>
		<div class="col-4 rgt-part">
			<select id="currency" name="timezone" formControlName="timezone">
				<option value="">Please Select</option>
				<option value="pacific">Pacific</option>
			</select>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="accountName">Ad Account Name</label>
		</div>
		<div class="col-4 rgt-part">
			<input type="text" class="form-control" id="accountName" placeholder="Account name" name="ad_account_name" formControlName="ad_account_name">
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-2 lft-part">
			<label for="email"></label>
		</div>
		<div class="col-4 rgt-part">
			<p>Use your own name or the name of your business you'll advertise.</p>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-6 lft-part">
			<button (click)="saveAccountSetting()" class="btn-grey">SAVE</button>
		</div>
	</div>
</div>
</form>
</div>

</div> -->
</div>
</div>
</div>
</div>
</div>

<div class="card">
	<div class="card-header" id="headingSix">
		<h2 class="mb-0">
			<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"><span class="pink pink6"><i class="fas fa-info"></i></span>HOW UZYTH ADS WORK</button>                     
		</h2>
	</div>
	<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
		<div class="card-body">
			<p class="color-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>