<section class="main-body addd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="addd-left">
					<h1>Your ad preferences</h1>
					<p>Learn what influences the ads you see and take control of your ads experience.</p>
					<a href="#">Learn about UZYTH ADS WORK</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="addd-right">
					<img class="img-fluid" src="assets/images/add.png">
				</div>
			</div>
			<div class="col-md-12">
				<div class="bs-example cus-bs">
				    <div class="accordion" id="accordionExample">
				        
				        <div class="card">
				            <div class="card-header" id="headingOne">
				                <h2 class="mb-0">
				                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><span class="pink pink1"><i class="fas fa-heart"></i></span>Your interests</button>
				                </h2>    
				            </div>
				            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				                <div class="card-body">
					                <div class="intrust">
					                	<h2>Uzytz Targeting Options</h2>
					                	<p>Targeting is one of the most important benefits of Uzytz advertising since it gives you the ability to show your ads to particular types of people who will engage with your content the best and put the most money in your pocket.</p>
					                	<p>Target audiences are also highly customizable, making it easy to target people based on interests/likes, demographics, locations, website, and app engagement, Uzytz groups and so much more.</p>
					                	<p>
											<img class="img-fluid in-img" src="assets/images/hello.png">
										</p>
										
										<p>To ensure the most success with Uzytz ads, you want to make sure you are targeting the right people, acknowledging and connecting with them and giving them a realistic call-to-action.</p>
										
										<ul>
											<li><b>Location:</b> Reach people based on country, state or province, current city or zip code</li>
											<li><b>Age and Gender:</b> Narrow your audience based on age and gender</li>
											<li><b>Language:</b> Target your ads to specific languages</li>
											<li><b>Behaviors:</b> Reach people based on purchase behaviors or intents, device usage and more</li>
											<li><b>Connections:</b> Reach people who are connected to your business’s Uzytz Page, app, event or their friends</li>
											<li><b>Custom Audience:</b> Create your ideal audience using pixels, email addresses, phone numbers</li>
											<li><b>Lookalike Audience:</b> Reach people who are similar to your audience(s)</li>
										</ul>
					                </div>
				            	</div>
				            </div>
				        </div>

				        <div class="card">
				            <div class="card-header" id="headingThree">
				                <h2 class="mb-0">
				                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><span class="pink pink3"><i class="fas fa-portrait"></i></span>Your information</button>                     
				                </h2>
				            </div>
				            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				                <div class="your-info">
				                	<div class="social-form">
				                		<div *ngIf="error != '' && error != undefined ">

								   <div class="alert alert-danger alert-dismissible">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Warning!</strong> {{error}}
								</div>
				                	</div>
										<form [formGroup]="adForm">
											
											<div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="email">Name:</label>
													</div>
													<div class="col-4 rgt-part">
														<input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter your name">
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="phone_number">Phone Number:</label>
													</div>
													<div class="col-4 rgt-part">
														<input type="number" class="form-control" name="phone_number" id="phone_number" formControlName="phone_number" placeholder="Enter your number">
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="education">Education:</label>
													</div>
													<div class="col-4 rgt-part">
														<input type="text" class="form-control" name="education" id="education"
														formControlName="education" placeholder="Enter your Education">
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="workplace">Workplace:</label>
													</div>
													<div class="col-4 rgt-part">
														<input type="text" class="form-control" name="workplace" id="workplace"
														formControlName="workplace" placeholder="Enter your workplace">
													</div>
												</div>
											</div>

											<!-- <div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="work_experience">Work Experience</label>
													</div>
													<div class="col-4 rgt-part">
														<select formControlName="work_experience" name="work_experience">
														  <option value="0">0 Year</option>
														  <option value="1">1 Year</option>
														  <option value="2">2 Year</option>
														  <option value="3">3 Year</option>
														  <option value="4">4 Year</option>
														  <option value="5">5 Year</option>
														  <option value="6">6 Year</option>
														</select>
													</div>
												</div>
											</div> -->	

											<!-- <div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="place_you_live">Place you lived:</label>
													</div>
													<div class="col-4 rgt-part">
														<textarea formControlName="places_you_lived" name="places_you_lived" class="form-control" rows="2"></textarea>
													</div>
												</div>
											</div>
 -->

											<!-- <div class="form-group">
												<div class="row">
													<div class="col-2 lft-part">
														<label for="detail_about_you">Details about you:</label>
													</div>
													<div class="col-4 rgt-part">
														<div class="state-location">
															<textarea formControlName="detail_about_you" name="detail_about_you" class="form-control" rows="3"></textarea>
														</div>
													</div>
												</div>
											</div> -->

											<div class="form-group">
												<div class="row">
													<div class="col-6 lft-part">
														<button class="btn-grey" (click)="saveInformation()"> SAVE</button>
													</div>
												</div>
											</div>	
										</form>
									</div>
				                </div>
				            </div>
				        </div>

				        <div class="card">
				            <div class="card-header" id="headingFour">
				                <h2 class="mb-0">
				                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"><span class="pink pink4"><i class="fas fa-cog"></i></span>Ad settings</button>                     
				                </h2>
				            </div>
				            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				                <div class="card-body">
				                    <div class="cus-tabs custom-cl">  
										<ul class="nav nav-tabs mb-4">
											<li class="active show"><a class="show active" data-toggle="tab" href="#general-setting">General Setting</a></li>
											<li><a data-toggle="tab" href="#ad-setting" class="show">Ad Setting</a></li>
											<li><a data-toggle="tab" href="#account-setting" class="show">Account Setting</a></li>
										</ul>

									  <div class="tab-content">
										<div id="general-setting" class="tab-pane fade show active"> 	
											<div class="social-form">
												<form [formGroup]="generalSetting">
												<!-- 	<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Custom audience:</label>
															</div>
															<div class="col-4 rgt-part">
																<input type="email" class="form-control" id="custom audience" formControlName="custom_audience" name="custom_audience" placeholder="Add/created custom audience">
															</div>
														</div>
													</div> -->
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Location</label>
															</div>
															<div class="col-4 rgt-part">
																
														  <select class="form-control" id="sel1">
														    <option>1</option>
														    <option>2</option>
														    <option>3</option>
														    <option>4</option>
														  </select>
														</div>
													 </div>
													</div>
													
													<!-- <div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email"></label>
															</div>
															<div class="col-4 rgt-part">
																<div class="state-location">
																	<textarea class="form-control" rows="5" ></textarea>
																</div>
															</div>
														</div>
													</div> -->
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Age</label>
															</div>
															<div class="col-4 rgt-part form-flex">
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	18
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">19</a>
																	<a class="dropdown-item" href="#">20</a>
																	<a class="dropdown-item" href="#">21</a>
																  </div>
																</div> -->
											<select class="form-control" id="age1">
											    <option value="">18</option>
											    <option>19</option>
											    <option>20</option>
											    <option>30</option>
											  </select>
														
															<select class="form-control" id="age2">
											    <option value="">60</option>
											    <option>61</option>
											    <option>62</option>
											    <option>63</option>
											  </select>		
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	65
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">19</a>
																	<a class="dropdown-item" href="#">20</a>
																	<a class="dropdown-item" href="#">21</a>
																  </div>
																</div> -->
																
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Gender</label>
															</div>
															<div class="col-4 rgt-part">
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	All
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Male</a>
																	<a class="dropdown-item" href="#">Female</a>
																  </div>
																</div> -->		
												<select class="form-control" id="gender">
											    <option value="">Please Select</option>
											    <option value="male">Male</option>
											    <option value="female">Female</option>
											  </select>														
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Language:</label>
															</div>
															<div class="col-4 rgt-part">
																	<input type="email" class="form-control" placeholder="Enter a languages..">
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Detail Targeting:</label>
															</div>
															<div class="col-4 rgt-part">
																<!-- <div class="position-rel">
																	<input type="email" class="form-control" placeholder="Add demographics">
																	<span class="to-browse">Browse</span>
																</div> -->
																<input type="file" class="form-control-file border" name="file">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-6 lft-part">
																<a href="" class="btn-grey"> SAVE</a>
															</div>
														</div>
													</div>
													
												</form>
											</div>
									    </div>
									    
										<div id="ad-setting" class="tab-pane fade">
											<div class="social-form">
												<form>
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Ad delivery</label>
															</div>
															<div class="col-4 rgt-part">
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Conversions
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Action</a>
																	<a class="dropdown-item" href="#">Another action</a>
																	<a class="dropdown-item" href="#">Something else here</a>
																  </div>
																</div> -->

											<select class="form-control" id="age1">
											    
											    <option value="converstaion">Conversations</option>
											     <!-- <option>3</option>
											    <option>4</option> -->
											  </select>
															</div>
														</div>
													</div>
													
													<!-- <div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Cost Control:</label>
															</div>
															<div class="col-4 rgt-part">
																<input type="email" class="form-control" id="email" placeholder="Add/created custom audience">
															</div>
														</div>
													</div> -->
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email"></label>
															</div>
															<div class="col-9 rgt-part">
																<p>Uzyth aims to spend your entire budget and get the most conversion using lowest cost bid strategy.</p>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Budget and Scheduled</label>
															</div>
															<div class="col-4 rgt-part">
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Daily Budget
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Daily Budget</a>
																	<a class="dropdown-item" href="#">Daily Budget</a>
																	<a class="dropdown-item" href="#">Daily Budget</a>
																  </div>
																</div> -->
												<select class="form-control" id="budgetandscheduled">
											    <option value="daily_budget">Daily Budget</option>
											   <!--  <option></option>
											    <option>3</option>
											    <option>4</option> -->
											  </select>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email"></label>
															</div>
															<div class="col-4 rgt-part">
																<input type="email" class="form-control" id="email" placeholder="$20.00">
																<p>Actual amount spend may be vary.</p>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">Conversion window</label>
															</div>
															<div class="col-4 rgt-part">
																<!-- <div class="dropdown">
																  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	7 days click or 1 day view
																  </button>
																  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Action</a>
																	<a class="dropdown-item" href="#">Another action</a>
																	<a class="dropdown-item" href="#">Something else here</a>
																  </div>
																</div> -->
												<select class="form-control" id="converstaion_window">
											    <option value="7day_click">7 day click or 1 day view</option>
											    <!-- <option></option>
											    <option>3</option>
											    <option>4</option> -->
											  </select>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-2 lft-part">
																<label for="email">When you get charged:</label>
															</div>
															<div class="col-4 rgt-part">
																<p style="margin: 0;">Impression</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-6 lft-part">
																<a href="" class="btn-grey"> SAVE</a>
															</div>
														</div>
													</div>
													
												</form>
											</div>
									    </div>
										
										<div id="account-setting" class="tab-pane fade">
											<div class="social-form">
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email">Account Country</label>
														</div>
														<div class="col-4 rgt-part">
															<!-- <div class="dropdown">
															  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																United States
															  </button>
															  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
															  </div>
															</div> -->
															<select id="country" name="country">
															   <option value="United_States">United States</option>
															   <option value="India">India</option>
															   <option value="France">France</option>
															   
															</select>
														</div>
													</div>
												</div>
											
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email">Currency</label>
														</div>
														<div class="col-4 rgt-part">
															<!-- <div class="dropdown">
															  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																US Dollars
															  </button>
															  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
															  </div>
															</div> -->
															<select id="currency" name="currency">
														   <option value="usdollar">Us Dollar</option>
														   <option value="inr">Rupeess</option>
														   <option value="Euro">Euro</option>
														   
														</select>
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email">Time Zone</label>
														</div>
														<div class="col-4 rgt-part">
															<div class="dropdown">
															  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																Pacific
															  </button>
															  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
																<a class="dropdown-item" href="#">Daily Budget</a>
															  </div>
															</div>
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email">Ad Account Name</label>
														</div>
														<div class="col-4 rgt-part">
															<input type="email" class="form-control" id="email" placeholder="Griffin Jyoti">
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<div class="row">
														<div class="col-2 lft-part">
															<label for="email"></label>
														</div>
														<div class="col-4 rgt-part">
															<p>Use your own name or the name of your business you'll advertise.</p>
														</div>
													</div>
												</div>


												<div class="form-group">
													<div class="row">
														<div class="col-6 lft-part">
															<a href="" class="btn-grey"> SAVE</a>
														</div>
													</div>
												</div>
											
											</div>
											
									    </div>
									  </div>
									</div>
									
									
									
									
									
									
									
				                </div>
				            </div>
				        </div>

				       <div class="card">
				            <div class="card-header" id="headingSix">
				                <h2 class="mb-0">
				                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"><span class="pink pink6"><i class="fas fa-info"></i></span>HOW UZYTH ADS WORK</button>                     
				                </h2>
				            </div>
				            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
				                <div class="card-body">
				                    <a href="#">Learn more.</a>
				                </div>
				            </div>
				        </div>

				    </div>
				</div>
			</div>
    	</div>
  </div>
</section>