<!-- <section *ngIf="checkLoggedId" class="social-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-ld-6 col-xl-6 left-menu">
				<div class="logo-box">
					<a href=""><img class="img-fluid" src="assets/images/social-logo2.png" /></a>
				</div>
				<div class="search-box">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="search_people" (input)="onKeyPressSearch($event.target.value)" placeholder="Search" name="search_people">
							 <ul *ngIf="isSearchUser == true">
						        <ng-container *ngFor="let search of search_user_data;">
						           
									<li>
						            

						                <span class='name'><a [routerLink]="['/profile',search.id]">{{search.name | titlecase}}</a></span>

										
										</li>

						        </ng-container>
						    </ul>
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">Go</button> 
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-ld-6 col-xl-6 right-menu">
				<div class="link-box">
					<ul class="menu-list">
						<li>
							<a href="javascript:void(0)" routerLink="/profile"><img src="assets/images/profile.jpg" /> Sunny</a>
						</li>
						<li>
							<a href="javascript:void(0)" routerLink="/home">Home</a>  
							<div class="mobile-icon">
								<i class="fas fa-home"></i>
							</div>
						</li>
						<li>
							<a routerLink="/find-friends" href="javascipt:void(0)">Find Friends</a>
							<div class="mobile-icon">
								<i class="fas fa-user-friends"></i>
							</div>
						</li>
						
					</ul>
				</div>
				
				<div class="icon-box">
					
					
					<div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/caret-down.png" />
						</span>
						
						<div class="dropdown-menu">
							<div class="inner-caret">
								
								<div class="Button-list">
									
									<button class="btn" type="submit" (click)="logout()">Log Out</button>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="notification-box">
					
				</div>
			
			</div>

		</div>
	</div>
</section> -->

<section class="dashboard-header">
    <div class="part-left">
        <div class="logo-outer"><a class="for-logo"><img class="ng-tns-c1-1" src="assets/images/logo.png"></a></div>
        <div class="logo-icon-menu"><span (click)="openSidebar()" class="menu-icon"><img class="ng-tns-c1-1" src="assets/images/menu-icon.png"></span></div>
        <div class="new-drop drop1">
            <span class="drop dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                <!----><img class="drop nav-link dropdown-toggle ng-tns-c1-1 ng-star-inserted" src="assets/images/nett.png"><!---->
                <p class="new-top">HOME</p>
            </span>
            <span class="drop dropdown-toggle switch-top" aria-expanded="false" aria-haspopup="true" data-togsocial-networkgle="dropdown" role="button">SWITCH</span>
            <div class="dropdown-menu left-d"><a class="dropdown-item active_view" id="0" style="display:none"></a><a class="dropdown-item" href="http://devapp.uzyth.com/#/dashboard" id="1">HOME</a><a class="dropdown-item" id="2" href="http://devapp.uzyth.com/#/network-lobby">NETWORK</a><a class="dropdown-item" id="3" href="http://devapp.uzyth.com/#/exchange/exchange-lobby">EXCHANGE</a><a class="dropdown-item" id="4"  href="http://devapp.uzyth.com/#/games/game-lobby" >GAMES</a><a class="dropdown-item" href="javascript:void(0)">MARKET <small class="ng-tns-c1-1" style="font-size:10px;color: #ffaf00">( COMING SOON )</small></a><a class="dropdown-item" href="javascript:void(0)">SOCIAL <small class="ng-tns-c1-1" style="font-size:10px;color: #ffaf00"></small></a></div>
        </div>
	</div>
	
	<div class="part-center">
		<div class="search-box">
			<form>
				<div class="input-group">
					<input type="text" class="form-control" [(ngModel)]="search_people" (input)="onKeyPressSearch($event.target.value)" placeholder="Search" name="search_people">
						<ul *ngIf="isSearchUser == true">
						<ng-container *ngFor="let search of search_user_data;">
							
							<li>
							

								<span class='name'><a [routerLink]="['/profile',search.id]">{{search.name | titlecase}}</a></span>

								
								</li>

						</ng-container>
					</ul>
					<div class="input-group-append">
						<button class="btn btn-success" type="submit">Go</button> 
					</div>
				</div>
			</form>
		</div>
	</div>

    <div class="part-right">
        <div class="buy-block">
            <ul class="toggle-menu">
                <li class="ng-tns-c1-1"><img class="money" src="assets/images/money10.png"><span class="t-uz">{{totalBuyCoin | number}} UZ</span></li>
                <li class="title-drop" (click)="openNotification()">
                    <span class="dd-parent">
                        <img class="money1" src="assets/images/Path-6.png"><!----><img class="menu-arrow" src="assets/images/drop.png">
                    </span>
                    <div class="title-menu" [ngClass]="displayNotification?'show':'hide'">
                     <div class="for-main-notification ng-tns-c1-0 ng-star-inserted"><div class="lft-part"><img class="money1" src="assets/images/Path-6.png"></div><div class="rgt-part"><p class="hdg1">Accepted Friend Request</p><p class="hdg2">Sanjay accepted your friend request</p><p class="hdg3">24 Jul 05:01</p><!----></div></div>
                    </div>
                </li>
                <li class="profile-drop" (click)="openProfileMenu()">
                    <span class="dd-parent"><img class="money2" src="{{img_url}}{{profile_pic}}"><img class="ovel1" src="assets/images/Oval2.png"><img class="menu-arrow" src="assets/images/drop.png"></span>
                    <div class="profile-menu" [ngClass]="displayProfile?'show':'hide'"><a href="http://devapp.uzyth.com/#/profile" class="" id="11">My Profile</a><a class="for_moblie_blc">Balance<span class="t-uz">2,102 UZ</span><img class="money" src="assets/images/money10.png"></a><a class="btn-small-menu for_mobile_buy" href="javascript:void(0)">BUY UZYTH</a><a class="" id="14" href="http://devapp.uzyth.com/#/support">Support</a><a class="" id="12" href="http://devapp.uzyth.com/#/download">DOWNLOADS</a><a class="" id="13" href="http://devapp.uzyth.com/#/help">HELP</a><a class="" (click)="logout()">LOG OUT</a></div>
				</li>
			
                <li (click)="openchatToggle()"><a class="ng-tns-c1-1" href="javascript:void(0)"><img class="money3" src="assets/images/Skype.lnk.png"></a></li>
            </ul>
        </div>
    </div>
</section>


<div *ngIf="chat == true">
<app-chat></app-chat>
</div>
