<section *ngIf="checkLoggedId" class="social-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-ld-6 col-xl-6 left-menu">
				<div class="logo-box">
					<a href=""><img class="img-fluid" src="assets/images/social-logo2.png" /></a>
				</div>
				<div class="search-box">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="search_people" (input)="onKeyPressSearch($event.target.value)" placeholder="Search" name="search_people">
							 <ul *ngIf="isSearchUser == true">
						        <ng-container *ngFor="let search of search_user_data;">
						           <!--  <li (click)="chatUser(search)" *ngIf="search.id != user_id">
						               
									</li> -->
									<li>
						             <!-- <img src='{{web_url}}/{{search.profile_picture}}' class='picture' alt='' /> -->

						                <span class='name'><a [routerLink]="['/profile',search.id]">{{search.name | titlecase}}</a></span>

										<!-- <span class='name'>{{search.name | titlecase}}</span> -->
										</li>

						        </ng-container>
						    </ul>
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">Go</button> 
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-ld-6 col-xl-6 right-menu">
				<div class="link-box">
					<ul class="menu-list">
						<li>
							<a href="javascript:void(0)" routerLink="/profile"><img src="assets/images/profile.jpg" /> Sunny</a>
						</li>
						<li>
							<a href="javascript:void(0)" routerLink="/home">Home</a>  
							<div class="mobile-icon">
								<i class="fas fa-home"></i>
							</div>
						</li>
						<li>
							<a routerLink="/find-friends" href="javascipt:void(0)">Find Friends</a>
							<div class="mobile-icon">
								<i class="fas fa-user-friends"></i>
							</div>
						</li>
						<!-- <li>
							<a href="">Create</a>
							<div class="mobile-icon">
								<i class="fas fa-home"></i>
							</div>
						</li> -->
					</ul>
				</div>
				
				<div class="icon-box">
					<!-- <div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/user.png" />
						</span>
						
						<div class="dropdown-menu Messages-blk">
							<div class="Messages-sec">
								<div class="notification-dropdown">
									<div class="Stories">
										<div class="may-know">
											<div class="top-know">
												<p class="hdg">Message Request</p>
												<div class="Stories-blk">
													<a href="" class="see">Find Friends</a>
													<a href="" class="see">Friend Requests</a>
												</div>
											</div>
										</div>
									</div>
									<div class="new-noti">
										<span>People you may know</span>
									</div>
									
									<div class="inner-msg">
										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>

										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>

										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>

										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>

										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>

										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<h2 class="details-heading"><a href="#">Yog Raj</a></h2>
												<h6 class="mutual-frd"><a href="#">9 mutual friends</a></h6>
											</div>
											<div class="add-class">
												<button type="button" class="btn btn-grey">Add Friends</button>
												<button type="button" class="btn btn-grey">Remove</button>
											</div>
										</div>
									</div>
									<div class="see-all btn-grey">
										<button class="btn">View All</button>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					
					<!-- <div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/help.png" />
						</span>
						
						<div class="dropdown-menu Messages-blk">
							<div class="Messages-sec">
								<div class="notification-dropdown">
								<div class="Stories">
									<div class="may-know">
										<div class="top-know">
											<p class="hdg">Message Request</p>
											<div class="Stories-blk">
												<a href="" class="see"> New Group</a>
												<a href="" class="see"> New Message</a>
											</div>
										</div>
									</div>
								</div>
								<div class="new-noti">
									<span>New</span>
								</div>
								
								<div class="inner-msg">
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
								</div>
								<div class="see-all btn-grey">
									<button class="btn">See All</button>
								</div>
							</div>
							</div>
						</div>
					</div> -->
					
					<!-- <div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/notification.png" />
						</span>
						
						<div class="dropdown-menu notifi-blk">
							<div class="notification-dropdown">
								<div class="Stories">
									<div class="may-know">
										<div class="top-know">
											<p class="hdg">Notification</p>
											<div class="Stories-blk">
												<a href="" class="see"> Mark all as read</a>
												<a href="" class="see"> Settings</a>
											</div>
										</div>
									</div>
								</div>
								<div class="new-noti">
									<span>New</span>
								</div>
								
								<div class="inner-msg">
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<span class="Stories-text"> so it's easy for people to plan a visit.<b>Forluxurycases</b> so it's easy for people to plan a visit.</span>
											<p>1hr</p>
										</div>
									</div>
								</div>
								<div class="see-all btn-grey">
									<button class="btn">See All</button>
								</div>
							</div>
						</div>
					</div> -->
					
					<!-- <div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/question-mark.png" />
						</span>
						
						<div class="dropdown-menu">
							<div class="question-mark">
								<div class="inner-mark">
									<div class="help-sec">
										<div class="quick-help">
											<p>Quick help</p>
											<a href="#" class="see">Help Centre</a>
										</div>
										<div class="input-blk">
											<input type="text" placeholder="How can we help ?" name="">
										</div>
										<h6>HELP WITH THIS PAGE</h6>
										<ul>
											<li><a href="">Home Page</a></li>
											<li><a href="">Timeline</a></li>
											<li><a href="">Chat and Messages</a></li>
											<li><a href="">Account Security</a></li>
											<li><a href="">Privacy</a></li>
										</ul>
									</div>
									<div class="check-up">
										<ul>
											<li><a href="">Privacy Check-up</a></li>
											<li><a href="">Privacy shortcuts</a></li>
										</ul>	
										<ul>
											<li><a href="">Support Inbox</a></li>
											<li><a href="">Report a Problem</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					
					<div class="noti-dd dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/caret-down.png" />
						</span>
						
						<div class="dropdown-menu">
							<div class="inner-caret">
								<!-- <div class="may-know">
									<div class="top-know">
										<p class="hdg">Your Pages:</p>
									</div>
									<div class="bottom-know">
										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<span class="Stories-text">Rbitrage</span>
											</div>
										</div>
										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<span class="Stories-text">Lifestylemarine</span>
											</div>
										</div>
										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<span class="Stories-text">Forluxurycases</span>
											</div>
										</div>
									</div>
									<div class="see-more">
										<a href="">See more...</a>
									</div>
								</div> -->
								<!-- <div class="may-know Business">
									<div class="top-know">
										<p class="hdg">Business Manager:</p>
									</div>
									<div class="bottom-know">
										<div class="friends">
											<div class="pic">
												<img class="for-img" src="assets/images/friends.jpg">										
											</div>
											
											<div class="details">
												<span class="Stories-text">Wayne</span>
											</div>
										</div>
									</div>
								</div> -->
								<div class="Button-list">
									<!-- <button class="btn" type="submit">Manage Pages</button>
									<button class="btn" type="submit">Manage Groups</button>
									<button class="btn" type="submit">Advertising on Facebook</button>
									<button class="btn" type="submit">Activity log</button>
									<button class="btn" type="submit">News Feed preferences</button>-->
									<!-- <button class="btn" type="submit"><a href="javascript:void(0)">Settings</a></button>  -->
									<button class="btn" type="submit" (click)="logout()">Log Out</button>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="notification-box">
					
				</div>
			
			</div>

		</div>
	</div>
</section>

<div *ngIf="checkLoggedId">
<app-chat></app-chat>
</div>
