<section class="main-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3 left-part">
				<div class="left-inner">
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" [routerLink]="['/profile']"><img class="img-bar-list" src="{{currentUser_picture}}"> <span class="for-name">{{fullname}}</span></a>
							</li>
						
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li class="active">
								<a class="direct" [routerLink]="['/home']" href="javascript:void(0)"><img class="img-bar-list" src="assets/images/timeline.png"> <span class="for-name"> Timeline</span></a>
							</li>
							
							<li>
								<a class="direct" [routerLink]="['/about']" href="javascript:void(0)"><img class="img-bar-list" src="assets/images/about.png"> <span class="for-name">About</span></a>
							</li>
							
							<li>
								<a class="direct" [routerLink]="['/find-friends']" href="javascript:void(0)"><img class="img-bar-list" src="assets/images/find-friend.png"> <span class="for-name">Find Friends</span></a>
							</li>
														
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							<li>
								<a class="direct" [routerLink]="['/photos']" href="javascript:void(0)"><img class="img-bar-list" src="assets/images/photo.png"> <span class="for-name">Photos</span></a>
							</li>
							
						</ul>
					</div>
					
					<div class="parts">
						<ul class="side-list">
							 <li>
								<a class="direct" href="javascript:void(0)"><img class="img-bar-list" src="assets/images/privacy.png"> <span class="for-name">Privacy</span></a>
						<!--</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">More</span></a>
							</li> -->
							
							<!-- <li>
								<a class="direct" href="http://web1.kindlebit.com/clientdemo/uzyth-social/event.html"><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Events</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Fundraisers</span></a>
							</li>
							
							<li>
								<a class="direct" href=""><img class="img-bar-list" src="assets/images/profile.jpg"> <span class="for-name">Buy & Sell Groups</span></a>
							</li> -->
							
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-9 col-lg-9 right-part">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 right-part1">
						<app-create-post></app-create-post>
						<div *ngIf="loading" class="loader">
								<div class="rect2"></div>
								<div class="rect3"></div>
								<div class="rect4"></div>
								<div class="rect5"></div>
					    </div>
						<!-- <div *ngIf="!showPosts" class="post-box">
							<h5 style="color:#f6ad21;text-align: center;padding-top: 12px">No News Available</h5> </div> -->
							
						<!-- <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> -->
						<ng-container *ngIf="showPosts">
						   <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="generalPostAllList()" [scrollWindow]="true">
								<div class="post-box" *ngFor="let post of post_data;let index">
									<div class="post-hdr">
										<div class="icon-img">
											<img src="{{img_url}}{{post.profile_picture}}" />
										</div>
										<div class="name-box">
											<h1 class="hdg" (click)="openUserProfile(post.user_id)"><a href="javascript:void(0)">{{post.username}}</a> <p class="time"><a href="javascript:void(0)">{{toLocalDate(post.post_create_date)}}</a></p></h1>
											<div class="dropdown dots-dd">
												<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												  <i class="fas fa-ellipsis-h"></i>
												</button>
												<div class="dropdown-menu" x-placement="bottom-start">
													<p class="time" (click)="reportSpamPost(post.id,post)" *ngIf="post.user_id != user_id"><a href="javascript:void(0)">Report as spam</a></p>
													<p class="time" (click)="deletePost(post.id,post)" *ngIf="post.user_id == user_id"><a href="javascript:void(0)">Delete post</a></p>
												</div>
											  </div>
										</div>
									</div>
									
									<div class="post-des" *ngIf="post.post_description != ''">
										<p class="des">{{convetToEmoji(post.post_description)}}</p>
									</div>
									
									<div class="post-data"  *ngIf="post.post_media != ''">
										<img class="img-fluid" src="{{img_url}}{{post.post_media}}" />
									</div>
									
									<div class="like-data">
										<div class="like-total">
											<div class="total-left">
												<img class="for-img" src="assets/images/like.png" />										
												<a class="pop-val" *ngIf="post.likes != '0'" href="javascript:void(0)">{{post.likes}}</a>
											</div>
											<!-- <div class="total-right">
												<p class="rgt-val">2 shares</p>
											</div> -->
										</div>
										
										<div class="like-actual">
											<div class="parts" *ngIf="post.is_likes == '0'" (click)="like(post,'like')">
												<img class="for-img" src="assets/images/like2.png" />										
												<span>Like</span>
											</div>
											<div class="parts" *ngIf="post.is_likes == '1'" (click)="like(post,'unlike')">
													<img class="for-img" src="assets/images/dis-like2.png">										
													<span>Unlike</span>
												</div>
											
											<div class="parts">
												<img class="for-img" src="assets/images/chat.png" />										
												<span>Comments</span>
											</div>
											
										</div>
										
									</div>
									<div class="commant-data">
										<div class="commant-total">
											<div class="commant-list" *ngFor="let cmt of post.comments; let i=index">
												<div class="media">
													<img src="{{img_url}}{{cmt.profile_picture}}">
													<div class="media-body">
														<p *ngIf="edit_comment != true || cmt.id != cmtId"><b (click)="openUserProfile(cmt.user_id)">{{cmt.username}}</b>{{cmt.comment}}</p>
														<div *ngIf="edit_comment && cmt.id == cmtId"> <input  class="form-control" (keyup.enter)="updateComment(cmt)" [(ngModel)]="cmt.comment" style="resize:none" type="text" ></div>
														<ul>
															<li *ngIf="edit_comment != true || cmt.id != cmtId"><a *ngIf="cmt.user_id == user_id" href="javascript:void(0)" (click)="editComment(cmt.id)">Edit</a></li>
															<li><a *ngIf="cmt.user_id == user_id" href="javascript:void(0)" (click)="delete_comment(cmt)">Delete</a></li>
															<li  *ngIf="edit_comment && cmt.id == cmtId"><a *ngIf="cmt.user_id == user_id" href="javascript:void(0)" (click)="cancelComment(cmt.id)">Cancel</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="write-commant">
													<div class="media">
													<img src="{{currentUser_picture}}" alt="user">
													<div class="media-body">
													<input (keyup.enter)="post_comment(post.id,post.postcomment)" class="form-control" [(ngModel)]="post.postcomment" name="postcomment"  style="resize:none" type="text" placeholder="Write a commant...">
													<!-- <span><i class="far fa-smile"></i></span> -->
													</div>
													</div>
												</div>
											
										</div>
									</div>
								</div>	
							</div>	
					</ng-container>			
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 right-part2">
							<div class="search-box">
									<form>
										<div class="input-group">
											<input type="text" class="form-control" [(ngModel)]="search_people" (input)="onKeyPressSearch($event.target.value)" placeholder="Search Friends" name="search_people">
											 <ul *ngIf="isSearchUser == true">
												<ng-container *ngFor="let search of search_user_data;">
												   <!--  <li (click)="chatUser(search)" *ngIf="search.id != user_id">
													   
													</li> -->
													<li>
													 <!-- <img src='{{web_url}}/{{search.profile_picture}}' class='picture' alt='' /> -->
				
														<span class='name'><a [routerLink]="['/profile',search.id]">{{search.name | titlecase}}</a></span>
				
														<!-- <span class='name'>{{search.name | titlecase}}</span> -->
														</li>
				
												</ng-container>
											</ul>
											<!-- <div *ngIf="isSearchUser == false">{{search_msg}}</div> -->
											<!-- <div class="input-group-append">
												<button class="btn btn-success" type="submit">Go</button> 
											</div> -->
										</div>
									</form>
								</div>

						<div class="may-know" *ngIf="findFriends">
							<div class="top-know" >
								<p class="hdg">People you may know</p>
								<a href="javascript:void(0)" [routerLink]="['/find-friends']" class="see">See All</a>
							</div>
							<div class="bottom-know">
								<ng-container *ngFor="let user of user_data;let i=index;">
								<div class="friends">
									<div class="pic">
										<img class="for-img" src="{{img_url}}{{user.profile_picture}}" />										
									</div>
									
									<div class="details">
										<h2 class="details-heading" (click)="openUserProfile(user.new_users)"><a href="javascript:void(0)">{{user.first_name}} {{user.last_name}}</a></h2>
										<h2 class="details-heading" (click)="openUserProfile(user.new_users)" *ngIf="user.first_name == null || user.first_name== ''"><a  href="javascript:void(0)">{{user.username}} </a></h2>
										<h6 class="mutual-frd" (click)="openUserProfile(user.new_users)" *ngIf="user.mutualcount !=0"><a href="javascript:void(0)">{{user.mutualcount}} mutual friend</a></h6>
										<div class="add-class">
											<button *ngIf="isSendReq != true || user.new_users != friend" [disabled]="isSendDisabled" (click)="sendFriendReq(user.new_users)" type="button" class="btn btn-grey">Add Friends</button>
											<button *ngIf="isSendReq != false && user.new_users == friend" type="button"  class="btn btn-grey">Request Sent</button>
											<button type="button" (click)="removeFriend(user)" class="btn btn-grey">Remove</button>
										</div>
									</div>
								</div>
							  </ng-container>
							</div>
						</div>
						<div class="Suggested">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">Ads</p>
									<a href="" class="see">See All</a>
								</div>
								<div class="bottom-know">
									<div class="join-group">
										<div class="join-image">
											<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-0/p173x172/29213898_411133419330626_4416280773284331520_n.jpg?_nc_cat=1&_nc_ht=scontent-hkg3-2.xx&oh=bf9868a8eea575c1170d5fb082253c1c&oe=5D615796">
										</div>
									</div>
									<div class="group-know">
										<p class="hdg">5-Minute Crafts ®<span>1,512,955 members</span></p>
										<button type="button" class="btn btn-grey">Join Group</button>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="Stories">
							<div class="may-know">
								<div class="top-know">
									<p class="hdg">Stories</p>
									<div class="Stories-blk">
										<a href="" class="see"> Settings</a>
										<a href="" class="see"> Archive</a>
									</div>
								</div>
								<div class="bottom-know">
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Add to your story</a></h2>
											<span class="Stories-text">Share a photo or video or write something</span>
										</div>
									</div>
									<div class="friends">
										<div class="pic">
											<img class="for-img" src="assets/images/friends.jpg">										
										</div>
										
										<div class="details">
											<h2 class="details-heading"><a href="#">Instagram</a></h2>
											<span class="Stories-text">about an hour ago</span>
										</div>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal" id="myModal" backdrop="static" role="dialog" tabindex="-1" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isPostModal ? 'block' : 'none'" *ngIf="isPostModal" aria-hidden="true">
		
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="create-post">
			<div class="post-hdr">
			  <p *ngIf="error_msg">Error<button type="button" class="close" (click)="close_modal()"><span aria-hidden="true">&times;</span></button></p>
			  <p *ngIf="sucess_msg">Success<button type="button" class="close" (click)="close_modal()"><span aria-hidden="true">&times;</span></button></p>  
		  </div>

			<div class="create-write">
			  <div class="for-type">
				<div class="icon-img">
				  
				</div>
				<div *ngIf="error_msg" class="error-msg">
				{{error_msg}}
				</div>
				<div *ngIf="sucess_msg" class="sucess-msg">
					  {{sucess_msg}}
					  </div>
			  </div>
			  <div class="for-pop-btn">
		  
			  </div>
			</div>
			
		  </div>
	  
		</div>
		
		

	  </div>
	  
	  
	</div>
	<div class="for-popup-layer" [ngClass]="isShow ? isShow :''"></div>