<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="work-block">
<section class="main-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top-profile-blk">
						<div *ngIf="cover_pic"  class="cover-pic">
								<img class="" src="{{img_url}}{{cover_pic}}" alt="Cover Photo"/>
							</div>
					<div class="inner-profile">
						<!-- <button class="btn add"><span><i class="fas fa-camera"></i></span>Add Cover Photo</button> -->
						<div class="name-blk">
							<div class="overlay-blk">
								<img *ngIf="profile_picture" src="{{profile_picture}}">
								<!-- <div class="hover-layer">
									<i class="fas fa-camera"></i>
								</div> -->
							</div>
							<!-- <h3 *ngIf="name">{{ name }}</h3> -->
							<h3>{{username | titlecase}}</h3>
						</div>
						<div class="update-info for-banner-btn">
							<button [disabled]="isSendDisabled" (click)="sendFriendReq()" *ngIf="user_status == 'Not Friend'" class="btn btn-grey"><i class="fas fa-user-plus"></i>Add Friend</button>
							<!-- <button  *ngIf="user_status == 'Friend'" class="btn btn-grey"><i class="fas fa-check"></i>Friend</button> -->
 
							<div class="dropdown dots-dd btn-dd">
								<button  *ngIf="user_status == 'Friend'" class="btn btn-grey dropdown-toggle" data-toggle="dropdown">Friend <i class="fas fa-sort-down"></i></button>
								<div class="dropdown-menu">
								  <a class="dropdown-item" href="#">Unfriend</a>
								 
								</div>
							  </div>

							  <div class="dropdown dots-dd btn-dd">
								<button  *ngIf="user_status == 'Request Sent'" class="btn btn-grey dropdown-toggle" data-toggle="dropdown">Friend Request Sent <i class="fas fa-sort-down"></i></button>
								<div class="dropdown-menu">
								  <a class="dropdown-item" href="#">Cancel Request</a>
								  
								</div>
							  </div>

							  <div class="dropdown dots-dd btn-dd">
								<button  [disabled]="isAcceptDisabled" (click)="acceptReq()" *ngIf="user_status == 'Accept Request'" class="btn btn-grey dropdown-toggle" data-toggle="dropdown">Confirm Request <i class="fas fa-sort-down"></i></button>
								<div class="dropdown-menu">
								  <a class="dropdown-item" href="#">Delete Request</a>
								</div>
							  </div>

							<!-- <button  *ngIf="user_status == 'Friend'" class="btn btn-grey"><i class="fas fa-check"></i>Remove</button> -->
							<!-- <button *ngIf="user_status == 'Request Sent'" class="btn btn-grey"><i class="fas fa-check"></i>Friend Request Sent</button> -->
							<!-- <button [disabled]="isAcceptDisabled" (click)="acceptReq()" *ngIf="user_status == 'Accept Request'" class="btn btn-grey">Confirm Request</button> -->
							<!-- <button class="btn btn-grey"><span><i class="fas fa-list"></i></span>Activity log</button> -->
						</div>
 					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>
<section class="content-block">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
				<div class="photos-blk">
					<div class="inner-photo">
						<div class="may-know">
							<div class="top-know">
								<p class="hdg"><span><i class="fas fa-camera-retro"></i></span>Photos</p>
								<!-- <a href="" class="see">Add photo</a> -->
							</div>
							<div class="img-sec">
								<div class="row">
										<ng-container  *ngFor="let media of userMedia;let i=index;">
												<div *ngIf="media.post_media != '' && i<9"  class="col-4 p-1">
														<div class="photo-img">
															<img src="{{img_url}}{{media.post_media}}">
														</div>
													</div>
										</ng-container>			
								</div>
									
							</div>	
						</div>
					</div>
				</div>
				<div class="friends-sec">
					<div class="inner-photo">
						<div class="may-know">
							<div class="top-know">
								<p class="hdg"><span><i class="fas fa-camera-retro"></i></span>Friends</p>
								<!-- <a href="" class="see">Find Friends</a> -->
							</div>
							<div class="img-sec">
								<div class="row" *ngFor="let user of user_data">
									<a [routerLink]="['/profile',user.id]" *ngIf="user.user != user_id " class="col-4 p-1">
										<div class="photo-img">
											<img src="{{img_url}}/{{user.profile_picture}}">
										</div>
										<a href="">{{user.name}}</a>
									</a>
									
								</div>
						
							</div>	
						</div>
					</div>
					<div class="post-view">
					
					</div>
				</div>

			
		</div>
			<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-8 right-part1">
					<div *ngIf="!showPosts" class="post-box"><h5 style="color:#f6ad21;text-align: center;padding-top: 12px"> No post yet</h5></div>
				<ng-container *ngIf="showPosts">
				<div class="post-box" *ngFor="let post of profile_new_post_data">
					<div class="post-hdr">
						<div class="icon-img">
							<img src="{{profile_picture}}">
						</div>
						<div class="name-box">
							<h1 class="hdg"><a href="">{{post.username}}</a></h1>
							<p class="time"><a href="">{{toLocalDate(post.post_create_date)}}</a></p>
						</div>
					</div>
					
					<div class="post-des">
						<p class="des">{{convetToEmoji(post.post_description)}}</p>
					</div>
					
					<div class="post-data" *ngIf="post.post_media != ''">
						<img class="img-fluid" src="{{img_url}}{{post.post_media}}">
					</div>
					
					<div class="like-data" >
						<div class="like-total">
							<div class="total-left">
							<!-- 	<img class="for-img" src="assets/images/like.png">							 			
								<a class="pop-val" href="">2</a> -->
								<img *ngIf="post.is_likes == '0'" class="for-img" src="assets/images/like.png">
								<img *ngIf="post.is_likes == '1'" class="for-img" src="assets/images/dis-like.png">										
								<a *ngIf="post.is_likes != '0'" class="pop-val" href="javascript:void(0)">{{post.likes}}</a>
							</div>
							<!-- <div class="total-right">
								<p class="rgt-val">2 shares</p>
							</div> -->
						</div>
						
						<div class="like-actual"  *ngIf="user_status == 'Friend'">
								<div class="parts" *ngIf="post.is_likes == '0'" (click)="like(post,'like')">
										<img class="for-img" src="assets/images/like2.png">										
										<span>Like</span>
									</div>
									<div class="parts" *ngIf="post.is_likes == '1'" (click)="like(post,'unlike')">
										<img class="for-img" src="assets/images/dis-like2.png">										
										<span>Unlike</span>
									</div>
							
						<!-- 	<div class="parts">
								<img class="for-img" src="assets/images/like2.png">										
								<span>Share</span>
							</div> -->
							
							<div class="parts" id="commentbox" (click)="comment_box(post.id)">
									<img class="for-img" src="assets/images/chat.png">										
									<span>Comments</span>
							</div>
							
						</div>
					  <div  *ngIf="user_status == 'Friend'">
						<div *ngIf="isComment == true && post.id==post_id" class="commant-data">
								<div class="commant-total">
										<div class="commant-list" *ngFor="let cmnt of cmnt_data">
												<div class="media">
													<img src="{{img_url}}{{cmnt.profile_picture}}">
													<div class="media-body">
														 <p  *ngIf="edit_comment != true || cmnt.id != cmtId"><strong>{{cmnt.username}}</strong>  {{ convetToEmoji(cmnt.comment)}}</p>
														 <p class="msg-edit custom-msg" *ngIf="edit_comment && cmnt.id == cmtId"> <input  class="form-control" (keyup.enter)="updateComment(cmnt)" [(ngModel)]="cmnt.comment" style="resize:none" type="text" >
															<span class="comnt-empji" (click)="commentEmoji(cmnt.id,cmnt)"><i class="far fa-smile" aria-hidden="true" ></i></span>
														</p>
														<div *ngIf="comntEmoji  && cmnt.id == cmtId" class="emojisShow custom-emoji">
																<emoji-mart (emojiClick)="addInComment($event,cmnt)"></emoji-mart>
															</div>
														 <ul>
																<li *ngIf="edit_comment != true || cmnt.id != cmtId"><a *ngIf="cmnt.user_id == user_id" href="javascript:void(0)" (click)="editComment(cmnt.id,cmnt)">Edit</a></li>
															   <li><a *ngIf="cmnt.user_id == user_id" href="javascript:void(0)" (click)="delete_comment(cmnt)">Delete</a></li>
															   <li  *ngIf="edit_comment && cmnt.id == cmtId"><a  href="javascript:void(0)" (click)="cancelComment(cmnt.id)">Cancel</a></li>
															   
														</ul>
													</div>
												</div>
											</div>
									<div class="write-commant">
										<div class="media">
										  <img src="{{img_url}}{{currentUserProfile}}">
										  <div class="media-body">
											<div class="custom-msg">

										   <input [disabled]="isPostComment" (keyup.enter)="post_comment()" class="form-control" [(ngModel)]="comment" name="comment"  style="resize:none" type="text" placeholder="Write a commant...">
										   <span class="comnt-empji" (click)="onClickEmoji()">
												<i class="far fa-smile" aria-hidden="true" ></i>
											</span>  
										  </div>
										  </div>
										  <!-- <div *ngIf="emojiHide" class="emojisShow">
												<emoji-mart (emojiClick)="addEmoji($event,comment)"></emoji-mart>
											</div> -->
										</div>
										<div *ngIf="emojiHide" class="emojisShow custom-emoji" style="margin-left: 55px;">
												<emoji-mart (emojiClick)="addEmoji($event,comment)"></emoji-mart>
											</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				</ng-container>
			</div>
		</div>
	</div>
</section>
</div>

<div class="modal" id="myModal" backdrop="static" role="dialog" tabindex="-1" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isPostModal ? 'block' : 'none'" *ngIf="isPostModal" aria-hidden="true">
		
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="create-post">
			<div class="post-hdr">
			  <p *ngIf="error_msg">Error<button type="button" class="close" (click)="close_modal()"><span aria-hidden="true">&times;</span></button></p>
			  <p *ngIf="sucess_msg">Success<button type="button" class="close" (click)="close_modal()"><span aria-hidden="true">&times;</span></button></p>  
		  </div>

			<div class="create-write">
			  <div class="for-type">
				<div class="icon-img">
				  
				</div>
				<div *ngIf="error_msg" class="error-msg">
				{{error_msg}}
				</div>
				<div *ngIf="sucess_msg" class="sucess-msg">
					  {{sucess_msg}}
					  </div>
			  </div>
			  <div class="for-pop-btn">
		  
			  </div>
			</div>
			
		  </div>
	  
		</div>
		
		

	  </div>
	  
	  
	</div>
	<div class="for-popup-layer" [ngClass]="isShow ? isShow :''"></div>